.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-top: solid 12px #00615a;
  color: #000000;
  min-width: 201px;
  min-height: 184px;
  gap: 7px;
}

.center {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-8 {
  gap: 8px;
}

.button {
  background-color: #005b9e33;
  height: 24px;
  min-width: 88px;
  color: #145794;
  padding: 1px;
  border: solid 1px #005b9e33;
  border-radius: 4px;
  cursor: pointer;
}

body {
  background-color: dimgrey;
}
